body {
    padding: 15px;
}

.bControl {
    display: inline-block;
    min-width: 290px;
}

.bControl > * {
    display: inline-block;
    float: left;
}

.bControl .buttonGroup {
    display: flex;
    position: relative;
    top: 26px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
}

.bControl > .selectContainer > select {
    width: 35px;
    margin: 0 2px;
    padding: 2px 2px;
    width: 120px;
    height: 150px;
    overflow: auto;
	border-radius: 3px;
	border-color: #31B0D5;
}

.bControl > .selectContainer > p {
    margin: 4px 0;
    font-weight: bold;
    text-align: center;
}

.bControl > .buttonGroup > button {
    width: 35px;
    margin: 4px 2px;
    padding: 2px 0;
}

.bControl .alert {
	width: 290px;
	align-content: center;
}

.bControl.animated {
    animation: mymove .2s normal forwards ease-in-out;
}

@keyframes mymove {
    from {
    	transform: translateX(0);
    }
    25% {
    	transform: translateX(10px);
    }
	50% {
		transform: translateX(0);
	}
	75% {
    	transform: translateX(-10px);
    }
    to {
    	transform: translateX(0);
    }
}