body {
    padding: 10px;
}

/* Navbar */
.navbar {
  min-height:38px;
  margin: auto;
}

.navbar .container {
  max-width: none !important;
}
/* -- */

/* Content */
.content {
    padding: 25px;
}

.content .form-group {
    padding-left: 0;
}

.content .blocks {
    padding: 25px;
    max-width: 300px;
}

.content .editBlock textarea {
    background: white;
    padding: 13px 15px;
}

.content .editBlock .deleteBtn {
    margin-top: 55px;
}

.content .row label {
    margin-bottom: 5px;
}

.content > table > thead th {
    cursor: default;
}

.content > table > tbody td {
    cursor: pointer;
}

.content .awardPrompt .modal-body {
    height: 200px;
    overflow: auto;
}

.content .awardPrompt .modal-body table tr {
    cursor: pointer;
}

.content .awardPrompt .modal-body table tr:first-child > td {
    border-top: none;
}

.content .selectedRow, .content .selectedRow:hover {
    background: grey;
    color: white;
}
/* -- */
