body {
    padding: 10px;
}

/* Navbar */
.navbar {
  min-height:38px;
  margin: auto;
  max-width:780px;
}
/* -- */

/* Content */
.content {
    padding: 25px;
    max-width: 780px;
    margin: auto;
}

.content .avatar-container {
    /*width: 150px;*/
    height: 150px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content .avatar-container input {
    display: none;
}

.content .awardBtns {
    display: flex;
    justify-content:space-around;
}

.content .form-group span {
    right: 10px;
}

.content .avatar-container img {
    cursor: pointer;
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}

.content .form-group {
    /*padding-left: 0;*/
}

.content .row {
    display: flex;
    align-items: flex-end;
}

.content .rowDelBtn {
    max-width: 560px;
    display: flex;
    justify-content: flex-end;
}

.content .left-col {
    max-width: 270px;
}

.content .right-col {
    max-width: 300px;
}

.content .editBlock textarea {
    background: white;
    padding: 14px 15px;
}

.content .editBlock .deleteBtn {
    margin-bottom: 15px;
}

.content .row label {
    margin-bottom: 5px;
}

.content > table > thead th {
    cursor: default;
}

.content > table > tbody td {
    cursor: pointer;
}

.content .awardPrompt .modal-body {
    height: 200px;
    overflow: auto;
}

.content .awardPrompt .modal-body table tr {
    cursor: pointer;
}

.content .awardPrompt .modal-body table tr:first-child > td {
    border-top: none;
}

.content .selectedRow, .content .selectedRow:hover {
    background: grey;
    color: white;
}
/* -- */
