body {
    padding: 15px;
}

.bControl {
    display: inline-block;
    min-width: 290px;
}

.bControl > * {
    display: inline-block;
    float: left;
}

.bControl .buttonGroup {
    display: flex;
    position: relative;
    top: 26px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
}

.bControl > .selectContainer > select {
    width: 35px;
    margin: 0 2px;
    padding: 2px 2px;
    width: 120px;
    height: 150px;
    overflow: auto;
}

.bControl > .selectContainer > p {
    margin: 4px 0;
    font-weight: bold;
    text-align: center;
}

.bControl > .buttonGroup > button {
    width: 35px;
    margin: 4px 2px;
    padding: 2px 2px;
}
