@{
    Layout = "~/_Layout.cshtml";
    PageData["Title"] = "Photos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Hello</p>
    </div>
</body>
</html>

@section scripts {
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
}

@section header {
    <link rel="icon" type="image/png" href="~/images/employee_icon.png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
}
