.content-albums .row {
    display: flex;
    align-items: center;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.content-albums .first-row {
    margin-bottom: 20px;
}

.content-albums .thumbnail {
    overflow: hidden;
    padding: 0 0;
    position: relative;
}

.content-albums .image-container {
    overflow: hidden;
    padding: 0 0;
    position: absolute;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5, enabled='true');
    filter: blur(5px);
}

@media (max-width:320px) { 
    .content-albums .thumbnail {
        height: 120px;
        width: 120px;
    }

    .content-albums .image-container {
        height: 120px;
        width: 120px;
    }

    .content-albums .thumbnail .album-cover {
        height: 120px;
        width: 120px;
    }

    .content-albums .well {
        padding-left: 3px;
        padding-right: 2px;
    }

    .content-albums .thumbnail-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width:321px) and (max-width:480px) { 
    .content-albums .thumbnail {
        height: 150px;
        width: 150px;
    }

    .content-albums .image-container {
        height: 150px;
        width: 150px;
    }

    .content-albums .thumbnail .album-cover {
        height: 150px;
        width: 150px;
    }

    .content-albums .well {
        padding-left: 3px;
        padding-right: 2px;
    }

    .content-albums .thumbnail-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width:481px) {
    .content-albums .thumbnail {
        height: 170px;
        width: 170px;
    }

    .content-albums .image-container {
        height: 170px;
        width: 170px;
    }

    .content-albums .thumbnail .album-cover {
        height: 170px;
        width: 170px;
    }
}

.content-albums .album-name {
    position: absolute;
    right: 10px;
    top:10px;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 2px 10px;
}

.content-albums .thumbnail .album-cover {
    /*max-width: 90%;
    max-height: 80%;*/
    /*position: absolute;*/
    border-radius: 2px;
    -ms-filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5, enabled='true');
}

.content-albums .thumbnail .btn {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.35);
    bottom: 5px;
    padding: 5px 8px;
}

.content-albums .thumbnail .remove-btn {
    right: 30px;
}

.content-albums .thumbnail .edit-btn {
    left: 30px;
}

.content-albums .thumbnail:hover .btn {
    display: block;
}
