.content-error .error-template {
    padding: 40px 15px;
    text-align: center;
}

.content-error .error-actions {
    margin-top:15px;
    margin-bottom:15px;
}

 .content-error .error-actions .btn { 
    margin-right:10px; 
}
