html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 20px;
}

/*- Main content -*/
.content-main {
    max-width: 780px;
    margin: auto;
    padding: 5px;
}
/*-  -*/

/*- Navbar -*/
.navbar > .container-fluid {
    max-width: 840px;
    margin: auto;
}
/*-  -*/

/*- Footer -*/
.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 20px;
    /*background-color: #f5f5f5;*/
    text-align: center;
    margin-top: 20px;
}
/*-  -*/

/*- Login -*/
.content-login .have-you-account {
    border-top: 1px solid#888;
    padding-top: 15px;
    font-size: 85%
}

.content-login .mainbox {
    margin-top: 50px;
}

.content-login .container-show-signin {
    float: right;
    font-size: 85%;
    position: relative;
    top: -20px;
}

.content-login .input-group {
    margin-bottom: 15px;
}

.content-login .container-login-btn {
    margin-top: 10px;
}
/* -- */

/*- Index -*/
.content-index .top10-header {
  font-size: 120%;
  margin-bottom: 5px;
}

.content-index .carousel-inner {
  border-radius: 5px;
}

.content-index .carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  color: #fff;
  text-align: left;
}

.content-index .carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  text-align: right;
}

.content-index .carousel-control.left,
.content-index .carousel-control.right {
  background-image: none;
}

@media (min-width:481px) {
    .content-index .carousel-inner {
        height: 450px;
    }

    .content-index .carousel-inner > .item {
        height: 450px;
    }

    .content-index .carousel-inner > .item > .front,
    .content-index .carousel-inner > .item > a > .front  {
        height: 450px;
        max-height: 450px;
    }

    .content-index .carousel-indicators {
        padding: 0 25px 15px 0;
    }

    .content-index .carousel-caption {
        padding: 10px 10px;
    }

    .content-index .carousel-caption > span {
        font-size: 140%;
    }
}

@media (max-width:480px) { 
    .content-index .carousel-inner {
        height: 250px;
    }

    .content-index .carousel-inner > .item {
        height: 250px;
    }

    .content-index .carousel-inner > .item > .front {
        height: 250px;
        max-height: 250px;
    }

    .content-index .carousel-indicators {
        padding: 0 5px 8px 0;
    }

    .content-index .carousel-caption {
        padding: 10px 5px;
    }

    .content-index .carousel-caption > span {
        font-size: 90%;
    }
}

.content-index .carousel-inner > .item {
    
}

.content-index .carousel-caption > span:last-child {
    margin-left: 15px;
    margin-bottom: 5px;
}

.content-index .carousel-inner > .item > .front {
  display: block;
  width: auto;
  margin: 0 auto;
}

.content-index .carousel-inner > .item > .background {
    position:absolute;
    z-index: -1;
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -ms-filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=25, enabled='true');
    filter: blur(25px);
}

.content-index .well {
    margin: 20px 0;
}

.content-index .well p.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*-  -*/

/*- Albums -*/
.content-albums .row {
    display: flex;
    align-items: center;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.content-albums .first-row {
    margin-bottom: 20px;
}

.content-albums .thumbnail {
    height: 170px;
    width: 170px;
    overflow: hidden;
    padding: 0 0;
    position: relative;
}

.content-albums .image-container {
    height: 170px;
    width: 170px;
    overflow: hidden;
    padding: 0 0;
    position: absolute;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5, enabled='true');
    filter: blur(5px);
}

.content-albums .album-name {
    position: absolute;
    right: 10px;
    top:10px;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 2px 10px;
}

.content-albums .thumbnail .album-cover {
    /*max-width: 90%;
    max-height: 80%;*/
    /*position: absolute;*/
    border-radius: 2px;
    height: 170px;
    width: 170px;
    -ms-filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5, enabled='true');
}

.content-albums .thumbnail .btn {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.35);
    bottom: 5px;
    padding: 5px 8px;
}

.content-albums .thumbnail .remove-btn {
    right: 30px;
}

.content-albums .thumbnail .edit-btn {
    left: 30px;
}

.content-albums .thumbnail:hover .btn {
    display: block;
}
/* -- */

/*- Upload -*/
.content-upload .row {
    display: flex;
    align-items: flex-end;
}

.content-upload .well {
    padding: 10px 0;
}

.content-upload .image-container {
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-upload .image-container > img {
    max-height: 100%;
    max-width: 100%;
}

.content-upload .progress {
    border: 1px solid #ddd; 
    padding: 1px; 
    border-radius: 3px;
}

.content-upload .bar { 
    background-color: #B4F5B4; 
    width: 0%; 
    height: 20px; 
    border-radius: 3px; 
}

.content-upload .percent { 
    position: absolute; 
    display: inline-block; 
    top: 0px; 
    left: 48%; 
}
/* -- */

/*- Photos -*/
.content-photos .thumbnail {
    height: 170px;
    width: 170px;
    position: relative;
    cursor: pointer;
}

.content-photos .image-container > a > img {
    max-height: 90%;
    max-width: 100%;
}

.content-photos .thumbnail .btn {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.35);
    top: 8px;
    padding: 5px 8px;
}

.content-photos .thumbnail .remove-btn {
    right: 20px;
}

.content-photos .thumbnail .edit-btn {
    left: 20px;
}

.content-photos .photo-name {
    position: absolute;
    right: 10px;
    bottom:10px;
}

.content-photos .thumbnail:hover .btn,
.content-photos .thumbnail:hover .badge {
    display: block;
}

.content-photos .thumbnail .photo-like-notowner:hover {
    border: 1px solid rgba(0, 0, 0, 0.25);
    animation: likemove .5s normal forwards ease-in-out;
}

.content-photos .badge {
    position: absolute;
    padding: 5px;
    display: none;
    left: 40%;
    top:10px;
}

@keyframes likemove {
    from {
    	transform: scale(1, 1);
    }
    25% {
    	transform: scale(1.1, 1.1);
    }
	50% {
		transform: scale(1, 1);
	}
	75% {
    	transform: scale(1.05, 1.05);
    }
    to {
    	transform: scale(1, 1);
    }
}
/*-  -*/