
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header dropdown">
            <a href="~/" class="navbar-brand dropdown-toggle" data-toggle="dropdown">
                Employees <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="~/Pages/Employees">Employees</a></li>
                <li><a href="~/Pages/Awards">Awards</a></li>
            </ul>
        </div>
        <div id="navbar">
            <div class="employee-panel">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="~/Pages/NewEmployee">New Employee</a></li>
                    @if (User.IsInRole("admins"))
                    {
                    <li><a href="~/Pages/Security">Security</a></li>
                    }
                </ul>
            </div>
            <div class="award-panel hide">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="~/Pages/NewAward.cshtml">New Award</a></li>
                    @if (User.IsInRole("admins"))
                    {
                    <li><a href="~/Pages/Security">Security</a></li>
                    }
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><b>@User.Identity.Name</b></li>
                    <li><a href="~/Pages/SignOut">Sign Out</a></li>
                }
                else
                {
                    <li><a href="~/Pages/SignIn">Sign In</a></li>
                }

            </ul>
        </div>
    </div>
</nav>