body {
    background: #333333;
    color: white;
    padding: 15px;
}

.equalizer {
    min-width: 440px;   
}

.equalizer > div {
    background: 
        repeating-linear-gradient(to bottom, transparent, transparent 26px, #333 26px, #333 30px),
        linear-gradient(to top, #ff8d02, #ffd059);
    border-radius: 10px 10px 0 0;
    display: inline-block;
    margin: 0 5px;
    width: 60px;
}

.equalizer .level-1 {
    height: 30px;
}

.equalizer .level-2 {
    height: 60px;
}

.equalizer .level-3 {
    height: 90px;
}

.equalizer .level-4 {
    height: 120px;
}

.equalizer .level-5 {
    height: 150px;
}

.equalizer .level-6 {
    height: 180px;
}

.equalizer .level-7 {
    height: 210px;
}

.equalizer .level-8 {
    height: 240px;
}

.equalizer .level-9 {
    height: 270px;
}

.equalizer .level-10 {
    height: 300px;
}
