
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header dropdown">
            <a href="~/" class="navbar-brand dropdown-toggle" data-toggle="dropdown">
                Employees <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="~/" data-id="0">Employees</a></li>
                <li><a href="#" data-id="1">Awards</a></li>
            </ul>
        </div>
        <div class="employee-panel">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="~/Pages/NewEmployee">New Employee</a></li>
            </ul>
        </div>
        <div class="award-panel hide">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">New Award</a></li>
            </ul>
        </div>
    </div>
</nav>