@using Employees.PL.Web.Models

@{ 
    Layout = "~/_Layout.cshtml";
    PageData["Title"] = "New Award";

    if (!User.Identity.IsAuthenticated)
    {
        Response.StatusCode = 401;
        return;
    }

    var awardLogic = LogicProvider.Instance.AwardLogic;

    Validation.RequireField("title", "Product name is required.");

    var awardIdStr = string.Empty;
    var title = string.Empty;
    var readOnly = string.Empty;
    var disabledBtn = string.Empty;

    if (!IsPost)
    {
        if (!User.IsInRole("admins"))
        {
            readOnly = "readonly=\"readonly\"";
            disabledBtn = "disabled";
        }

        awardIdStr = Request["awardid"];
        if (awardIdStr != null)
        {
            int awardId = Convert.ToInt32(awardIdStr);
            var award = awardLogic.GetAllAwards().First(a => a.Id == awardId);
            title = award.Title;
        }
        else
        {
            awardIdStr = "0";
        }
    }
}

<div class="content" data-award-id="@awardIdStr">
    <div class="row">
        <div class="col-xs-7 blocks">
            <div class="row">
                <div class="col-xs-offset-1 avatar-container">
                    <form method="post" enctype="multipart/form-data">
                        <label for="file-input">
                            <img class="avatarImg" src="/Pages/GetAwardAvatar?awardid=@awardIdStr" />
                        </label>
                        <input id="file-input" name="file" type="file" accept="image/*" @disabledBtn />
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7 form-group has-feedback">
                    <label for="title">Title:</label>
                    <input class="form-control titleInput" id="title" name="title" type="text" value="@title" @readOnly />
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback hide badIcon"></span>
                    <span class="glyphicon glyphicon-ok form-control-feedback hide goodIcon"></span>
                </div>
                <div class="col-xs-3">
                    <div class="editBlock hide">
                        <button class="btn btn-danger deleteBtn" data-toggle="modal" data-target="#deletePrompt" @disabledBtn>
                            Delete Award
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <button class="btn btn-primary saveBtn" @disabledBtn>Save</button>
                </div>
            </div>
        </div>
    </div>

    @RenderPage("_ErrorAlertPartial.cshtml")

    @RenderPage("_DeletePromptPartial.cshtml")
</div>

@section scripts {
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/awardsNavbar.js"></script>
    <script src="~/Scripts/newAward.js"></script>
}

@section header {
    <link rel="icon" type="image/png" href="~/images/award_icon.png" />
}