<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
	      <add key="pathUserXml" value="store_users.xml" />
          <add key="pathAwardXml" value="store_awards.xml" />
	      <add key="LogicAssamblyName" value="Employees.BLL.Main" />
	      <add key="LogicClassName" value="Employees.BLL.Main.UserMainLogic" />
	      <add key="StoreAssamblyName" value="Employees.DAL.Xml" />
	      <add key="StoreClassName" value="Employees.DAL.Xml.UserXmlStore" />
	  </appSettings>
</configuration>